/*UIColors palette HSI(117,85,46)*/
/*Color variables*/
:root {
    --background-global: #e9ffe6;
    --background-vars: #125513;
    --backgroung-graph: #d0fdca;
    --shadow: #042f06;
    --background-collapsable: #a5fb9b;
}
body {
    background-color: var(--background-global);
}
/*Grid*/
#Grid {
    display: grid;
    grid-template-areas:
                        "i i i i g g g"
                        "i i i i g g g"
                        "i i i i g g g"
                        "i i i i b b b";
    width:95vw;
    height:95vh;
}
.InnerBox {
    background-color: var(--background-vars);
    /*border*/
    border-style: solid;
    border-width: 0px;
    box-shadow: 0px 0px 2px 2px var(--shadow);
    /*margin-padding*/
    padding: 10px;
    margin: 10px;
    /*text*/
    color: var(--background-vars);
    /*edges*/
    border-radius: 15px;
}
header {
    border-radius: 5px;
}
#Inputs {
    grid-area: i;
}
#Graph {
    grid-area: g;
    background-color: #d0fdca;
    color: #d0fdca; /*No funciona con el var, no se porque*/
    display: flex;
    flex-direction: column;
}
.InnerBox header {
    background-color: var(--background-vars);
    padding-left: 10px;
}
#Generate {
    grid-area: b;
    color: #d0fdca;
}
#Generate button {
    width: 80px;
    height: 35px;
    margin-left: 5%;
    margin-top: 5%;
}


/*Toggles Inputs Hide/Unhide*/
.hiddenToggle {
    display: none;
}
.Collapsable header {
    background-color: var(--background-collapsable);
    /*padding-margin*/
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 1px;
}
.Collapsable main {
    display: None;
    /**/
    background-color: var(--background-collapsable);
    border-radius: 5px;
    padding-top: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
}

.hiddenToggle:checked + header + main {
    display:block;
}

/*Collapsables content*/
input {
    border-radius: 3px;
}
/*Variables list*/
.variablesList {
    display:grid;
    grid-template-columns: 1fr;
}
.VariableName {
    border-style: solid;
    border-color: var(--background-vars);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-width: 2px;
    /**/
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.VariableName button {
    height: 15px;
    width: 15px;
    /**/
    background-color: red;
    color: white;
    /**/
    display: flex;
    justify-content: center;
    align-items: center;
    /**/
    font-size: 10px;
}
#divInputVarNames {
    display: block;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
/*clave valor*/
.keyValuePairs {
    display: flex;
    flex-direction: column;
}
.keyValue {
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.keyValue span {
    min-width: 40%;
}

.keyValue input {
    min-width: 40%;
}

/*parámetros de variables*/

.variableTitle {
    font-size: large;
    font-weight: bold;
}

.radioSpan {
    font-size:medium;
    font-weight: bold;
}

/*Todos los botones radio*/
input[type="radio"]:checked+label{
    font-weight:bold;
}

/*AdStock*/

#divInputWeibullType {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*hide/show weibull or geometric*/
#divInputWeibullType {
    display:None;
}

#radioWeibull:checked ~ #divInputWeibullType {
    display:block;
}

#radioWeibull:checked ~ .divInputAdStockParam .keyValuePairs .geometricParam{
    display:none;
}
.weibullParam {
    display:none;
}
#radioWeibull:checked ~ .divInputAdStockParam .keyValuePairs .weibullParam{
    display: flex;
    align-items: center;
    padding-left: 5%;
}

input[type="number"]:out-of-range {
    border-color: red;
    box-shadow: 0px 0px 3px 3px red;
}

/*Gráfica*/

canvas {
    width: 50vh;
    height: 50vh;
    background-color: white;
    margin: auto;
    border-radius: 5px;
}

